
body{
    background-image: linear-gradient(to right,orange,red);
    padding:0px;
    margin: 0px;
}

div{
    left: 30%;
    /* right: 25%; */
    width: 400px;
    border: 1px solid black;
    position: relative;
    background-color: lightyellow;
    height: 600px;
    top: 30px;
}
div h2{
    color: black;
    font-family: sans-serif;
    margin-left: 20px;
}
div #yourtask{
    position: relative;
    margin-left: 20px;
    height: 25px;
    padding-right: 50px;
    padding-left: 15px;
    top: 20px;
}
div #button{
    margin-left: 20px;
    height: 30px;
    position: relative;
    top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}

div h3{
    
}